---
layout: default
---

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "MusicEvent",
  "name": {{ post.title }},
  "startDate" : {{ post.date | date_to_xmlschema }},
  "url" : {{ post.url }}
  "location" : {
    "@type" : "MusicVenue",
    "sameAs" : {{ post.place_url }},
    "name" : {{ post.place_name }},
    "address" : {{ post.place_address }},
  },
  "offers": {
    "@type": "Offer",
    "url": {{ post.ticket_url }},
    "price": {{ post.price }},
    "priceCurrency": "JPY",
    "availability": {{ post.availability }},
  },
  "performer": [
    {
      "@type": "MusicGroup",
      "name": {{ site.title }},
      "sameAs": [
          {{ site.url }},
          {{ site.blog }}
      ]
    },
    {
      "@type": "Person",
      "image": {{ twitter_picture}},
      "name":  {{ twitter_name }},
      "sameAs": "https://twitter.com/{{ site.twitter_username }}"
    },
    {
      "@type": "Person",
      "image": {{ twitter2_picture}},
      "name":  {{ twitter2_name }},
      "sameAs": "https://twitter.com/{{ site.twitter2_username }}"
    }
  ],
  //"workPerformed": [
  //  {
  //    "@type": "CreativeWork",
  //    "name": "Britten Four Sea Interludes and Passacaglia from Peter Grimes",
  //    "sameAs": "http://en.wikipedia.org/wiki/Peter_Grimes"
  //  },
  //  {
  //    "@type": "CreativeWork",
  //    "name": "Shostakovich Symphony No. 7 (Leningrad)",
  //    "sameAs": "http://en.wikipedia.org/wiki/Symphony_No._7_(Shostakovich)"
  //  }
  //]
}
</script>
