---
layout: default
---

<div class="event-preview">
    <h2 class="event-title">
        {{ event.title }}
    </h2>
    {% if event.published %}
    <h3 class="event-subtitle">
        {{ event.published | date: "%B %-d, %Y" }}
    </h3>
    {% endif %}
    {{ event.content }}
    {% comment %}
    <p class="event-meta">Posted by {% if event.author %}{{ event.author }}{% else %}{{ site.title }}{% endif %} on {{ event.date | date: "%B %-d, %Y" }}</p>
    {% endcomment %}
</div>
<hr>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "MusicEvent",
  "name": {{ event.title }},
  "startDate" : {{ event.published | date_to_xmlschema }},
  "url" : {{ event.url }}
  "location" : {
    "@type" : "MusicVenue",
    "sameAs" : {{ event.place_url }},
    "name" : {{ event.place_name }},
    "address" : {{ event.place_address }},
  },
  "offers": {
    "@type": "Offer",
    "url": {{ event.ticket_url }},
    "price": {{ event.price }},
    "priceCurrency": "JPY",
    "availability": {{ event.availability }},
  },
  "performer": [
    {
      "@type": "MusicGroup",
      "name": {{ site.title }},
      "sameAs": [
          {{ site.url }},
          {{ site.blog }}
      ]
    },
    {
      "@type": "Person",
      "image": {{ site.url }}{{ twitter_picture }},
      "name":  {{ twitter_name }},
      "sameAs": "https://twitter.com/{{ site.twitter_username }}"
    },
    {
      "@type": "Person",
      "image": {{ site.url }}{{ twitter2_picture }},
      "name":  {{ twitter2_name }},
      "sameAs": "https://twitter.com/{{ site.twitter2_username }}"
    }
  ],
  //"workPerformed": [
  //  {
  //    "@type": "CreativeWork",
  //    "name": "Britten Four Sea Interludes and Passacaglia from Peter Grimes",
  //    "sameAs": "http://en.wikipedia.org/wiki/Peter_Grimes"
  //  },
  //  {
  //    "@type": "CreativeWork",
  //    "name": "Shostakovich Symphony No. 7 (Leningrad)",
  //    "sameAs": "http://en.wikipedia.org/wiki/Symphony_No._7_(Shostakovich)"
  //  }
  //]
}
</script>
